@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

* {
    box-sizing: border-box;
    color:white;
}

body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220510/pngtree-abstract-futuristic-technology-background-with-digital-number-timer-concept-and-countdown-image_1288347.jpg');
    background-size: cover;
    background-position:center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Preahvihear', sans-serif;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}